<footer class="text-black  text-lg-start">
        
        <div class="p-4">
            <div class="row mt-4">

                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <a class="nav-link" routerLinkActive="active" routerLink="/movies-home">
                        <h3 class="logo"> Movie </h3>
                        <h3 class="logo"> Verse </h3>
                    </a>
                    
                    <div>
                        <p>Spirit, Beauty & Life</p>
                        <div>
                            <!-- FaceBook -->
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </span>

                            <!-- Twitter -->
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>

                            <!-- Instagram -->
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4"><a>Contact US</a></h5>
                    <ul class="fa-ul" style=" margin-top: 20px;">
                        <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Dehradun 248002, India</span>
                        </li>
                        <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">movie_verse001@gmail.com</span>
                        </li>
                        <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 998 124 356 </span>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">About</h5>
                    Movie-Verse is a platform,which allows you to view list of movies according to your genres, provide ratings and get entertained!
                </div>

            </div>
        </div>
    
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright: <strong>Divyansh Bhatt </strong>. All Right Reserved
        </div>
    </footer>