<!-- tool bar component -->
<app-tool-bar></app-tool-bar>

<!-- about us section  -->
<section id="aboutus">
    <div class="coverImg">
        
    </div>
<section class="bgphoto" style="background-attachment: fixed; background-position: center;min-height:520px">
    <div class="containers">
        <div class="title">
            <h2 style="text-align:center;font-size:3rem">Movie-Verse</h2>
        </div>

        <div id="content-section1">
            <div class="content mt-4">
                <h3 style="line-height:1.5em; font-size:2rem;font-family: 'IBM Plex Sans',sans-serif;">Our aim</h3>
                <p style="line-height:1.8em;font-size: 1.2rem;font-family: 'IBM Plex Sans',sans-serif;">
                    It can be an interesting experience looking around at websites in particular industries to identify trends and see how they differ from those in other industries.
                    Movies are a big part of the entertainment industry, and in recent years their websites have become increasingly critical to their overall success. We aim to
                    provide a platform to vast audience of movies, where they can select movie of their choice, their genre, which are trending etc and hence help them ... 
                </p>
                <a class="btn btn-outline-primary" routerLink="/movies-home">
                    <span>Learn More</span>
                </a>
            </div>
        </div>
        <div id="image-section1">
            <img class="zoom" src="../../assets/about1.jpg" alt="" height="320px" width="420px">
        </div>
    </div>
</section>

<div class="containers" style="margin-top:100px;min-height:520px">
    <div id="image-section2">
        <img class="zoom" src="../../assets/about2.jpg" alt="" height="320px" width="420px">
    </div>
    <div id="content-section2">
            <div class="content mt-4">
                <h3 style="line-height:1.5em; font-size:2rem;font-family: 'IBM Plex Sans',sans-serif;">Impact</h3>
                <p style="line-height:1.8em;font-size: 1.2rem;font-family: 'IBM Plex Sans',sans-serif;">
                     We want to impact the young audience, and make their entertainerment journey a little easy. The world is sure is movinf little fast and everybody deserves a break (;
                </p>
                <a class="btn btn-outline-primary" routerLink="/movies-home">
                    <span>Learn More</span>
                </a>
            </div>
        </div>
</div>
</section>

<!-- footer component -->
<app-footer></app-footer>