<!-- For tool bar component -->
<app-tool-bar></app-tool-bar>


<section id="movies-home">
    <!-- carousel section -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3" class=""></li>
    </ol>
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="carousel-item active">
        <img class="d-block w-100 carousel-image" src="../../assets/avengers.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
            <h5></h5>
          </div>
      </div>

      <div class="carousel-item">
        <img class="d-block w-100 carousel-image" src="../../assets/penguins.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
            <h5></h5>
          </div>
      </div>

      <div class="carousel-item">
        <img class="d-block w-100 carousel-image" src="../../assets/avatar1.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
            <h5></h5>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 carousel-image" src="../../assets/joker.jpg" alt="Fourth slide">
        <div class="carousel-caption d-none d-md-block">
            <h5></h5>
          </div>
      </div>

    </div>

    <!-- left and right controls -->
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<!-- Horizontal Line -->
<div style="display:flex; justify-content:center;">
    <hr class="line">
</div>

<!-- Movie List Cards Section -->
<div style="margin-top: 80px">
<h3 class="text-white px-2 mx-4 mt-4">Recommended for you</h3>
<div class="main">
    <!-- <div class="card-inner zoom">
        <div class="card-image">
            <img src="../../assets/dark-knight-card.jpg" alt="dark knight" height="320px" width="300px">
        </div>
        <div class="middle"><button class="btn btn-outline-secondary" >><a href="https://www.youtube.com/watch?v=EXeTwQWrcwY&ab_channel=RottenTomatoesClassicTrailers"> Play Trailer </a></button></div>
        <div class="card-content"> The Dark Knight </div>
    </div> -->

    <div class="card-inner zoom">
        <div class="card-image">
            <img src="../../assets/train-to-busan.jpg" alt="dark knight" height="320px" width="280px">
        </div>
        <div class="middle"><button class="btn btn-outline-secondary" >><a href="https://www.youtube.com/watch?v=pyWuHv2-Abk&ab_channel=ZeroMedia"> Play Trailer </a></button></div>
        <div class="card-content"> Train to busan </div>
    </div>

    <div class="card-inner zoom">
        <div class="card-image">
            <img src="../../assets/conjuring.jpg" alt="dark knight" height="320px" width="300px">
        </div>
        <div class="middle"><button class="btn btn-outline-secondary" >><a href="https://www.youtube.com/watch?v=Gb-jRz7HWqs&ab_channel=WarnerBros.Pictures"> Play Trailer </a></button></div>
        <div class="card-content"> Conjuring </div>
    </div>

    <div class="card-inner zoom">
        <div class="card-image">
            <img src="../../assets/inception.jpg" alt="dark knight" height="320px" width="280px">
        </div>
        <div class="middle"><button class="btn btn-outline-secondary" >><a href="https://www.youtube.com/watch?v=YoHD9XEInc0&ab_channel=RottenTomatoesClassicTrailers"> Play Trailer </a></button></div>
        <div class="card-content"> Inception </div>
    </div>

    <div class="card-inner zoom">
        <div class="card-image">
            <img src="../../assets/oscar2023.jpg" alt="dark knight" height="320px" width="280px">
        </div>
        <div class="middle"><button class="btn btn-outline-secondary" >><a href="https://www.youtube.com/watch?v=wxN1T1uxQ2g&ab_channel=A24"> Play Trailer </a></button></div>
        <div class="card-content"> Everthing everywhere all at once </div>
    </div>
</div>
</div>
<!-- <app-wish-list></app-wish-list> -->
</section>
<app-contact-us-alt></app-contact-us-alt>

<app-footer></app-footer>